NODE_ENV=development
PORT=9000
DATABASE_URL=postgres://medusa:medusa@localhost:5432/medusa
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:7000
STRIPE_SECRET=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PUBLIC=pk_test_...
ADMIN_USER=admin
ADMIN_PASS=admin123
ADMIN_EMAIL=hello@hungerhankerings.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
